In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [25]:
df = pd.read_csv('HRDataset.csv')

In [26]:
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

df.head()

In [15]:
missing_values = df.isnull().sum()

In [16]:
print(missing_values[missing_values > 0])

DateofTermination    207
ManagerID              8
dtype: int64

In [24]:
df['DateofTermination'].fillna(datetime.today().strftime('%Y-%m-%d'))

0      2024-10-23
1       6/16/2016
2       9/24/2012
3      2024-10-23
4        9/6/2016
          ...
306    2024-10-23
307     9/29/2015
308    2024-10-23
309    2024-10-23
310    2024-10-23
Name: DateofTermination, Length: 311, dtype: object

In [23]:
df['ManagerID'].fillna(-1)

0      22.0
1       4.0
2      20.0
3      16.0
4      39.0
       ...
306    20.0
307    12.0
308     2.0
309     4.0
310    14.0
Name: ManagerID, Length: 311, dtype: float64

In [29]:
df['DOB'] = pd.to_datetime(df['DOB'],format='%d/%m/%Y %I:%M:%S %p' , errors='coerce')
df['DateofHire'] = pd.to_datetime(df['DateofHire'],format='%d/%m/%Y %I:%M:%S %p', errors='coerce')
df['DateofTermination'] = pd.to_datetime(df['DateofTermination'],format='%d/%m/%Y %I:%M:%S %p', errors='coerce')